/Hello/nbproject/private/
/Hello/build/
/Hello2/nbproject/private/
/Hello2/build/
/Labs/FirstDialog/nbproject/private/
/Labs/FirstDialog/build/
/Labs/HelloDialog/nbproject/private/
/Labs/HelloDialog/build/
/Labs/Lab#1/Netbeans Lab/Hello2/build/
/Labs/Lab#1/Netbeans Lab/HelloDialog/build/
/Homework/Homework#1/MinutesConversion/nbproject/private/
/Homework/Homework#1/MinutesConversion/build/
/Labs/Lab#2/Netbeans Projects/ShowStudent/nbproject/private/
/Labs/Lab#2/Netbeans Projects/ShowStudent/build/
/Labs/Lab#2/Netbeans Projects/ShowStudent2/nbproject/private/
/Labs/Lab#2/Netbeans Projects/ShowStudent2/build/
/Labs/Lab#2/Netbeans Projects/TestWedding/nbproject/private/
/Labs/Lab#2/Netbeans Projects/TestWedding/build/
/Labs/Lab#3/Netbeans Projects/TestWedding/nbproject/private/
/Homework/Homework#2/Netbeans Projects/TestWedding/nbproject/private/
/Homework/Homework#2/Netbeans Projects/TestWedding/build/
/Homework/Homework#2/Netbeans Projects/TestWedding_1/nbproject/private/
/Homework/Homework#2/Netbeans Projects/TestWedding_1/build/
/Labs/Lab#3/Netbeans Projects/RockPaperScissors/nbproject/private/
/Labs/Lab#3/Netbeans Projects/RockPaperScissors/build/